/*Styles added to improve the look and feel*/
body{font-family: 'Arial',sans-serif!}
.navbar{background-color:#FFFEFF}
#background-strip{background-color: #2980B9;position:absolute;width:100%;height:6em;left:0;z-index: 0}
#se-logo{height:100%;padding-top:0.5em}
.button-spacer{margin-bottom:2em}/*temporary, for index html*/
.discussion-points{margin-top:5em}
.margin-tweak{margin-right:0.5em}/*temporary, for view page success box*/
.se-primary-btn{color:#FFF;background-color:#00427F;margin-bottom:2em;font-weight: bold;border-radius: 0px;border:2px #00427F solid;
  -webkit-transition: color, background-color 1s; /* Safari */
  transition: color, background-color 1s;}
.se-primary-btn:hover{color:#00427F;background-color: #FFF}
.se-secondary-btn{color:#666;background-color:#e1e1e1;margin-bottom:2em;font-weight: bold;border-radius: 0px;border:2px #666 solid;
  -webkit-transition: color, background-color 1s; /* Safari */
  transition: color, background-color 1s;}
.se-primary-btn:hover{color:#00427F;background-color: #FFF}
